body{
    background-color: rgba(240, 240, 240, 0.938);
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.plus-minus{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus-minus a{
  margin: 0 2vw;
}
.row{
    max-width:100%;
    
}

h1{
    text-align: center;
}
/* Pokemon index card styles */

.card {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin: 1vw;
    width: 250px;
    height: 320px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    flex-direction: column;
    transition: 1s box-shadow;
}
.card:hover{
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}
.card:hover:before, .card:hover:after {
   display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 320px;
  background: #FDA8CF;
  border-radius: 50px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card:hover:after {
  background: rgb(130, 233, 236);
  animation: 1s counterclockwise infinite;
}
.card-data{
    width: 70%;
}
.card a{
    align-self: flex-end;
    margin-right: 4vw;
    font-size: 1.35em;
    color: rgb(97, 97, 97);
}
.card i:hover{
    transform: scale(1.2, 1.2);
    transition: 0.5s;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.card img{
    height: 110px;
    width: 110px !important;
    
}